
.container div a{
    text-decoration: none;
    color: blue;
    display: inline-block;
    background:blue;
    color:#fff;
    padding:.8rem 3rem;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 6px;
    text-decoration: none;
    margin-top: 10px;
}
.container div a:hover{
    background:aqua;
    color:blue;
}
body{
    text-decoration: none;
}
.bda{
    color:#333;
}
.container .YAOUNDE{
        border: 2px;
        box-shadow:5px 5px 5px 5px  grey;
        width: 50%;
        height: 120%;
        align-items: center;
        margin-left: 0;
        background-color:darkgray ;

}
.container .DOUALA{
    border: 2px;
        box-shadow:5px 5px 5px 5px  grey;
        width: 50%;
        height: 120%;
        align-items: center;
        margin-left: 0;
        background-color:darkgray ;
}
.container .BUEA{
    border: 2px;
    box-shadow:5px 5px 5px 5px  grey;
    width: 50%;
    height: 110%;
    align-items: center;
    margin-left: 0;
    background-color:darkgray ;
    margin-bottom: 50px;

}
.container{
    border: 2px;
    box-shadow:5px 5px 5px 5px  blue;
    width: 30%;
    height: 300%
}
.container{
    padding: 100px;
    box-sizing: content-box;
    height: 400px;
    text-size-adjust: 200px; 
}
.sec{
margin-top: 50px;
   padding: 100px;
   font-size: large;
}
